/* Created by Roni Salman */

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Hind Vadodara', sans-serif;
    background-color: #034d03;
}

.navbar.navbar-default{
    padding: 0;
    margin: 0;
    background-color: #032703cc;

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.719);
}

.container-fluid{
    padding: 0px;
}

.nav.navbar-nav.navbar-right{
    height: 40px;
    width: 25%;
}

.button-holder{
    height: 100%;
    width: 100%;
}

.btn.btn-info{
    background-color: #cca120;
    border-color: #032703cc;
    border-radius: 0;
    border: none;
    outline: none;
    box-shadow: none;
    height: 100%;
    width: 100%;
}

.gg-shopping-cart{
    display: inline;
    float: left;
}

.btn.btn-info:hover{
    background-color: darkgoldenrod !important;
}
.btn.btn-info:active{
    background-color: rgb(131, 98, 15) !important;
    box-shadow: none !important;
}

.navbar-header{
    margin: 0 auto;
    position: relative;
}

.navbar-brand{
    color: white;
}

.navbar-brand:hover{
    color: white;
}

img{
    height: 100%;
    width: 100%;
}

.price{
    position: absolute;
    top: 25px;
    left: 25px;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.container{
    padding: 0;
}

.row{
    margin: 0;
}



#footer{
    background-color: #032703cc;
    height: 10%;
    width: 100%;

    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.719);
}

#footerUL{
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.footerLinks{
    color: white;
    display: inline;
    cursor: pointer;
    user-select: none;
    transition: .3s;
}

.footerLinks:hover{
    text-shadow: 3px 3px 3px darkgray;
}

.footerLinks:active{
    color: rgb(131, 98, 15);
}

.openCart{
    height: 50%;
    width: 25%;
    background-color: #cca120;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 75%;
    top: 40px;
}